// Core
body {

  .app-header-logo {
    height: $header-height;
    width: $sidebar-width;
    @include media-breakpoint-down(md) {
      display: none;
    }

    display: flex;
    align-items: center;
    background: #0C243A;
    padding-left: ($spacer);
    padding-right: ($spacer);
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .app-header-logo-img {
    width: 45px;
    height: 45px;
  }

  .header-logo-wrapper {
    display: flex;
    align-items: center;
  }

  .header-logo-wrapper-btn {
    padding: ($spacer / 3);
    color: $white;
    background: rgba(255,255,255,.09);

    &:hover {
      background: rgba(255,255,255,.14);
    }
  }

  .header-logo-wrapper-link {
    text-decoration: none;
  }

  .header-logo-text {
    //padding-left: 2.5rem;
    font-size: 40px;
    width: auto;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    font-family: 'Lobster', cursive;
  }
}
